<h3>Enter your information below: </h3>
<form class="form signup" action="/owners/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" placeholder="username">
  <label for="password">Enter a password: </label>
  <input type="password" name="password" placeholder="password">
</form>
