<div class="content">
  <h2>Whoops- you're barking up the wrong tree!</h2>
  <p>
    Please <a href="/owners/login">login</a> or
    <a href="/owners/signup">signup</a> to access/edit dog information
  </p>
</div>
