<div class="content">
  <h2>Congratulations on your addition to the family!</h2>
  <h3>Please enter your new dog's information: </h3>
  <form class="form creation" action="/dogs/new" method="post">
    <label for="dog[name]">Name:</label>
    <input type="text" name="dog[name]" placeholder="name">
    <br>
    <label for="dog[breed]">Breed:</label>
    <input type="text" name="dog[breed]" placeholder="breed">
    <br>
    <label for="dog[age]">Age:</label>
    <input type="text" name="dog[age]" placeholder="age">
    <br>
    <label for="dog[gender]">Gender (Male/Female):</label>
    <input type="text" name="dog[gender]" placeholder="gender">
    <br>
    <label for="dog[description]">Description:</label>
    <textarea name="dog[description]" rows="8" cols="80" placeholder="about your dog..."></textarea>
    <br>
    <input type="submit" name="submit" value="Submit">
  </form>
</div>
