body{
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
  background-color: #FFF;
  color: rgba(0,0,0,.8);
  text-align: center;
  background-color: #298BD1;
}

link:visited{
  color: orange;
}

link{
  color: black;
}

link:active{
  color: white;
}

header{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw%;
  height: 15vh;
  background-color: #D16534;
  box-shadow: 5px 0px 5px black;
}

header > img {

  height: auto;
  width: 10%;
}

nav{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 50%;
  height: inherit;
  margin: 0px;
  padding: 0px;
}

nav > ul {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  list-style: none;
}

li{
  width: auto;
  height: inherit;
}
a:visited{
  color:white;
}

#yield-field{
  margin: 0px;
  padding: 0px;
  transform: translateX(35%);
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 60vw;
  border-radius: 5px;
  background-image: url('/images/yield-field-bkgrnd.jpg');
  background-size: cover;

#yield-field > form {
  display: block;
  height: auto;
}

.content{
  background-color: rgba(255, 255, 255, 0.5);
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

.tile{
  background-color: white;
  border-radius: 15px;
  border: 3px ridge gray;
}
