body{
  font-family: 'Nunito', sans-serif;
  background-color: #FFF;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./public/images/Hero-background.jpg');
}

link:visited{
  color: orange;
}

link{
  color: black;
}

link:active{
  color: white;
}

header{
  color: orange;
}
