<h2>Welcome to Copper! Are you an...</h2>
<div class="button-container">
  <h3 id="owner-login"><a href="/owners/login">Owner?</a></h3>
  <h5>-or a-</h5>
  <h3 id="shelter-login"><a href="/shelters/login">Shelter?</a></h3>
</div>
