<!DOCTYPE html>
<head>
  <title>Copper</title>
  <link rel="stylesheet" href="/public/css/master.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <% if Helpers.is_logged_in?(session) %>

    <header>
      <img src="/images/logo.png" alt="copper logo">
      <h1>Copper</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dogs/random">View a Dog!</a></li>
          <li><a href="/owners/account">My Account</a></li>
          <li><a href="/owners/logout">Logout</a></li>
        </ul>
      </nav>
    </header>

  <% else %>

  <header>
    <img src="/images/logo.png" alt="copper logo">
    <h1>Copper</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/owners/login">Login</a></li>
      </ul>
    </nav>
  </header>

  <% end %>
  <div id="yield-field">
      <%= yield %>
  </div>

</body>
