<!DOCTYPE html>
<head>
  <title>Copper</title>
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
  <header>
    <img src="/images/logo.jpg" alt="copper logo">
    <h1>Copper</h1>
  </header>

  <%= yield %>

</body>
